body {
    background-color: white;
}
h1 {
    font-family: Itim, sans-serif;
    color: #f1e5ec;
    background-color: #973d38;
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-family: Montserrat, sans-serif;
    color: #973d38;
    text-align: center;
    font-weight: 500;
    font-variant-caps: all-petite-caps;
}
.navbar  {
    a {
    color: #93354e;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    justify-content: center;
}
}
#navbarNavDropdown {
    justify-content: center;
}
.firstcarousel {
    width: 100%;
    margin: 0 auto;
}
#chefpic {
    padding-left: 10rem;
}
.menus {
    background-color: #973d38;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
.restaurant {
    margin-bottom: 20px;
}
}