body {
    background-color: white;
}
h1 {
    font-family: Italianno, sans-serif;
    color: white;
    background-color: #b1443f;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    text-align: center;
    padding-top: 1rem;
}
h2 {
    font-family: Montserrat, sans-serif;
    color: #973d38;
    text-align: center;
    font-weight: 500;
}
h4 {
    font-family: Montserrat, sans-serif;
    color: #05431e;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar  {
    a {
    color: #07662d;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    text-transform: uppercase;
    justify-content: center;
}
}
#navbarNavDropdown {
    justify-content: center;
}
.firstcarousel {
    width: 100%;
    margin: 0 auto;
}
.menus {
    background-color: #05431e;
    display: flex;
    justify-content:space-evenly;
}
.hometext {
    font-family: Montserrat, sans-serif;
    font-size: 1.25em;
    font-weight: 500;
}
.hours {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #05431e;
}
.aboutus {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.formcolor {
    color: #05431e;
    background-color: #05431e;
}
@media (max-width: 768px) {
.restaurant {
    margin-bottom: 20px;
}
}
@media (max-width: 768px) {
.menu {
    margin-bottom: 20px;
}
}